<nz-card nzTitle="Bảng sách" [nzExtra]="extraTemplate">
  <nz-table #basicTable  nzTableLayout="fixed" [nzBordered]="true" [nzData]="listData" [nzShowPagination]="false" >
    <thead>
    <tr>
      <th nzWidth="6%">STT</th>
      <th>Tên sách</th>
      <th>Mô tả</th>
      <th>Tác giả</th>
      <th>Năm</th>
      <th>Thể loại</th>
      <th>Ảnh</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listData; let i = index" class="text-center">
      <td>{{ i + 1 }}</td>
      <td class="text-left" nzEllipsis >{{data.name}}</td>
      <td class="text-left" nzEllipsis >{{data.description}}</td>
      <td class="text-left" nzEllipsis >{{data.author.name}}</td>
      <td class="text-left" nzEllipsis >{{data.publicationYear}}</td>
      <td class="text-left" nzEllipsis >{{data.category.name}}</td>
      <td class="text-left">
        <img
          nz-image
          width="200px"
          height="200px"
          [nzSrc]="data.image"
          alt=""
        />
      </td>
      <td>
        <div class="flex gap-2 ant-flex-justify-center">
          <button nz-button nzType="primary" (click)="editData(data.id)" class="btn-edit">
            <nz-icon nzType="edit" nzTheme="outline" />
          </button>
          <button nz-button nzType="primary" (click)="showDeleteConfirm(data.id, data.name)" class="btn-delete">
            <nz-icon nzType="delete" nzTheme="outline" />
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="addData()" class="btn-add">
    <nz-icon nzType="plus" nzTheme="outline"></nz-icon> Thêm sách
  </button>
</ng-template>


