<section class="px-[5%] py-10"  *ngIf="dataBook && dataBook.length > 0">
<!--title-->
  <div class="title flex justify-between">
    <h1 class="text-2xl font-bold!">Thư viện của bạn</h1>
    <nz-input-group  [nzPrefix]="prefixTemplateUser"  class="w-[400px]!" >
      <input type="text" nz-input placeholder="Tìm  kiếm sách" />
    </nz-input-group>
    <ng-template #prefixTemplateUser>
      <nz-icon nzType="search" nzTheme="outline" class="cursor-pointer" />
    </ng-template>
  </div>
<!--  Card-content -->
  <div class="grid grid-cols-4 gap-4 py-18 group bg-white ">
<!--    item-card-->
    @for (card of dataBook ; track card.id) {

    <div class="card-item bg-white rounded-lg shadow-md overflow-hidden w-full mx-auto">
      <img
        [src]="card.image"
        [alt]="card.name"
        class="w-full h-48 object-cover bg-cover bg-center"
      />
<!--      book info-->
      <div class="info-book p-2 !space-y-2" >
        <div class="title">
          <a class="text-[18px] font-semibold text-gray-900 mb-1">
            {{card.name}}
          </a>
        </div>
        <h5 class="text-sm text-gray-500! font-thin!">
          <fa-icon [icon]="faBookOpen" class="text-xs text-thin text-gray-500"></fa-icon>
          {{card.author.name}}
        </h5>
        <div class="flex justify-between items-center text-gray-500!">
          <p class="text-sm font-thin">
            <fa-icon [icon]="faTags" class="text-xs text-thin text-gray-500"></fa-icon>
            {{card.category.name}}
          </p>
          <p class="flex justify-center items-center gap-1 text-gray-500 ">
            <span class="mb-[3px]">
              <fa-icon [icon]="faCalendar" class="text-xs text-thin text-gray-500"></fa-icon>
            </span>
            <span>{{card.publicationYear}}</span>
          </p>
        </div>
        <p class="text-gray-500 text-sm leading-relaxed">
          {{card.description}}
        </p>
      </div>
    </div>
    }

  </div>

</section>
