/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
body{
  font-family: "Roboto", sans-serif;
}
ul{
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6,p{
  margin-bottom: 0;
}
img{
  display: inline-block;
}
a{
  color: black;
}
